<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939305397201-o4fkhcgl2qknuocoe8mbcgja1lorecof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939305397201-o4fkhcgl2qknuocoe8mbcgja1lorecof</string>
	<key>API_KEY</key>
	<string>AIzaSyB3aZ8iHooG2d7i7vJsIFeWAOg-4iPEp5g</string>
	<key>GCM_SENDER_ID</key>
	<string>939305397201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.app.podelevar</string>
	<key>PROJECT_ID</key>
	<string>pode-levar</string>
	<key>STORAGE_BUCKET</key>
	<string>pode-levar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939305397201:ios:d38cd26e4098146e1f8ef0</string>
</dict>
</plist>